<app-sidemenu></app-sidemenu>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <app-header></app-header>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12" style="padding-left: 280px;">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
                        style="background-color:#6f42c1 ;">
                        <h6 class="text-white text-capitalize ps-3">User table</h6>
                    </div>
                </div>
                
                <div class="col-12 mt-4" >
                    <div class="mb-5 ps-3" >

                    </div>
                    <div class="row" >
                        <div class="card col-xl-3 col-md-6" style="margin-bottom: 2%; margin-top: 2%; height: 350px;" *ngFor="let e of eventList">
                            <div class="card card-blog card-plain mb-15">
                                <div class="card-header p-0 mt-n4 mx-3 mb-15">
                                    <a class="d-block shadow-xl border-radius-xl">
                                        <img src="assets/img/home-decor-1.jpg" alt="img-blur-shadow"
                                            class="img-fluid shadow border-radius-xl">
                                    </a>
                                </div>
                                <div class="card-body d-flex flex-column p-3 mb-15">
                                    <p class="mb-0 text-sm"># {{e.type | titlecase}}</p>
                                    <a [routerLink]="['/events/details', e.id]">
                                        <h5 >
                                            {{e.nom | titlecase}}
                                        </h5>
                                    </a>
                                    <p class="mb-4 text-sm">
                                        {{e.description | slice:0:75}}...
                                    </p>
                                </div>
                            </div>
                            
                            <button class="btn btn-outline-primary btn-sm mt-auto" style="height: 37px;" (click)="deleteEvents(e.id)">Delete</button>
                            
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2" routerLink="/events/add">
        <i >+
        </i>
    </a>
    
</div></main>